/* === Google Fonts === */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}
body {
  width: 100%;
  background-color: aliceblue;
}

.container {
  width: 80%;
  margin: 55px auto;
}
.container .form {
  display: flex;
  margin-top: 20px;
}
.container .form input {
  padding: 8px 20px;
  width: 100%;
  border: 1px solid #a3a3a3;
}
.container .form button {
  padding: 8px;
  background-color: #000;
  color: #fff;
}
.container .lists .todo_item {
  display: flex;
  justify-content: space-between;
  background-color: #93b18c;
  padding: 8px 10px;
  margin-bottom: 10px;
}

.container .lists .todo_item span {
  color: #fff;
  background-color: red;
  width: 20px;
  height: 20px;
  font-size: 0.6rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
